.item {
    position: relative;
    padding: 10px;
    border-top: 1px solid #eee;
    background: #fff;
}
.item:first-child {
    border-top: none;
}

.item>a>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #9E9E9E;
}
.item>.item-content {
    margin-left: 50px;
}
.item-content-title .comment-floor {
    position: absolute;
    right: 10px;
    font-size: 14px;
    color: #2a00ff;
}
.item-content-body {
    margin-top: 10px;
}
.item-content-meta {
    margin-top: 10px;
}
.item-content-meta span {
    font-size: 14px;
    margin-right: 10px;
}
.item-content-meta span>i {
    margin-right: 4px;
}