body {
    background: #f0f2f5;
    overflow-x: hidden;
}
.layout {

}

.layout .head {
    height: 64px;
    line-height: 64px;
    background: #464646;
}
.layout .cnode-logo {
    display: inline-block;
    width: 220px;
    padding-left: 15px;
    padding-top: 4px;
    height: 64px;
}
.layout .main {
    margin-top: 20px;
}
.layout .foot {
    height: 100px;
    line-height: 100px;
    background-color: #000;
    color: rgba(255, 255, 255, 0.65);
}