.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  clear: both;
  zoom:1;
}
.mt20 {
  margin-top: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb10 {
  margin-bottom: 10px;
}

.mr20 {
  margin-right: 20px;
}
.mr10 {
  margin-right: 10px;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 10px;
}


.block-title {
  padding: 12px 10px;
  background-color: #d9d9d9;
}
.bread-split {
  margin: 0 5px;
}
.rich-text {
  border: 1px solid #ccc;
  background: #fff;
}

/* 回到顶部 */
.ant-back-top {
  bottom: 100px;
}

.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

/* 关于居中 */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
