@font-face {
    font-family: 'iconfont';  /* project id 579952 */
    src: url('//at.alicdn.com/t/font_579952_tpdp8f0epxim5cdi.eot');
    src: url('//at.alicdn.com/t/font_579952_tpdp8f0epxim5cdi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_579952_tpdp8f0epxim5cdi.woff') format('woff'),
    url('//at.alicdn.com/t/font_579952_tpdp8f0epxim5cdi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_579952_tpdp8f0epxim5cdi.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:14px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shijian::before {
    content: '\e6ae'
}
.icon-huifu::before {
    content: '\e648'
}
.icon-yuedu::before {
    content: '\e679'
}
.icon-louceng0::before {
    content: '\e638'
}
.icon-dianzan::before {
    content: '\e60c'
}